* {
    font-family: sans-serif;
    font-weight: 400;
    font-style: normal
}

.Header {
    margin: 0;
    background-color: white;
    height: 100px;
    justify-content: center;
    align-items: center;
}

.footer {
    margin: 0;
    background-color: black;
    height: 77px;
    justify-content: center;
    align-items: center;

}

.Black_Container {
    background-color: black;

}

.MV_title {
    font-size: 34pt;
    letter-spacing: 1px;
    color: #ee5a24;
    font-weight: 800
}

.MV_title span {
    font-weight: 800;
}

.MV_Para {
    font-size: 25pt;
    letter-spacing: 1px;
    line-height: 42px;
    color: #fff;
}

.MV_btn {
    font-size: 18px;
    letter-spacing: 1px;
    padding: 12px 20px;
    border-radius: 5px;
    background-color: #ee5a24;

    border: 0;
}

.MV_btn:hover {
    background-color: #ee5a24;

}

.MV_txtSmall {
    font-size: 12px;
    color: #fff;
}


.Carousel {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #fff;
    width: 102%;
}

.Crousel_btn {
    background-color: #fff;
    margin-top: 6%;
    margin-right: 1px;
    padding: 0%;
    height: 8px;
    width: 45px;
    border-width: 0%;
    border-radius: 20px;
}

.best-sm {
    top: -14.7%;
    left: 15%;

}

.rupee {
    top: 40%;
    left: -9%;



}

.grey_board {
    background-color: #e3e3e3;

}

.GreyBoard_title {
    font-size: 30pt;
    letter-spacing: 1px;
    color: #000;
    font-weight: 700
}

.Board_Number {
    font-size: 14pt;
    line-height: 1.5;
    color: #ee5a24;
    font-weight: 700;
    padding-right: 5px;
    border-right: 2px solid;
}

.Progress_Bar1 {
    width: 95px;
    height: 25px;
    background-color: #ee5a24;

}

.Progress_Bar2 {
    width: 190px;
    height: 25px;
    background-color: #ee5a24;

}

.Progress_Bar3 {
    width: 280px;
    height: 25px;
    background-color: #ee5a24;

}

.Progress_Bar4 {
    width: 370px;
    height: 25px;
    background-color: #ee5a24;

}

.progress-text {
    font-size: 14pt;
    letter-spacing: 1px;
    line-height: 1;
    color: #000;
    font-weight: 700;
    margin-bottom: 0;

}

.sticker {

    background: #000;
    border-radius: 10px;
    color: #e4e4e5;
    width: 210px;
    height: 120px;
    right: 14%;


}

.Qouatation {
    background-color: #000
}

.testi__title {
    font-size: 38px;
    letter-spacing: 1px;
    line-height: 47px;
    color: #fff;
    z-index: 999;
    position: relative
}

.wie_bg {
    background-image: url(../img/bg.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
}

.wie-box {
    position: relative;
    background-color: #ee5a24;
    width: 100%;
    padding-top: 35px;
    padding-bottom: 35px;
    padding-left: 120px;
    padding-right: 120px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

@media (max-width: 1060px) {
    .wie-box {
        padding-left: 35px;
        padding-right: 35px;
    }
}

.wie-title {
    font-size: 28pt;
    letter-spacing: 1px;
    color: #fff;
    font-weight: bold
}

.wie-para {
    font-size: 12pt;
    line-height: 30px;
    color: #fff
}



.wie-btn {
    border-radius: 5px;
    background-color: #ee5a24;
    border: 5px solid #fff;
    font-size: 16pt;
    margin-top: 1rem;
}

.Wie-best {
    position: absolute;
    right: -15%;
    top: 24%;
    width: 22%
}

.Wie-Adr {
    position: absolute;
    right: -45%
}



.exp-bg {
    background: url(../img/standing-cycles.png);
    border-top-right-radius: .5rem;
    border-bottom-right-radius: .5rem;
    background-size: cover;
}

.exp-card {
    margin-left: -120px;
    padding: 25px;
    background-color: #fff;
    border-radius: 7px;
}

@media only screen and (max-width: 992px) {
    .exp-card {
        margin: auto;

    }
}

.exp-title {
    font-size: 22pt;
    letter-spacing: 1px;
    color: #000;
    font-weight: bold
}

.exp-btn {
    border-radius: 7px;
    background-color: #ee5a24;
    border-color: #ee5a24;
    font-size: 17pt;
}

.sticker-sm {

    background: #000;
    border-radius: 10px;
    color: #fefeff;
    width: 150px;
    height: 90px;
    padding: 5px;
    text-align: center;
}



.sticker-text {
    font-size: 20px;
    margin-bottom: -7px;
    margin-top: 5px;
    font-weight: bold;

}

.sticker-sm img {
    width: 90%
}






.ons-title {
    font-size: 29.5pt;
    color: #000;
    font-weight: bold
}

.ons-Para {
    font-size: 12pt;
    line-height: 27px;
    width: 67%;
}



.ons-card {
    margin-top: 8%;
    border-radius: 5px;
    background-color: #e3e3e3;
    text-align: center;
    padding: 15%  0 15% 0;
}


.ons-card-text,
.ons-card-text span {
    font-size: 24px;
    letter-spacing: 1px;
    line-height: 32px;
    font-weight: 700
}

.ons-card-text span {
    color: #ee5a24
}


.ons-sticker{
    position: absolute;
    background: #000;
    border-radius: 10px;
    color: #e4e4e5;
    width: 210px;
    height: 120px;
    text-align: center;
    top:5%;
    left: 80%;
    padding: 10px;
    z-index: 9999;
    
}







.OnsStyle {
    transform: translate(-900px, 0px);
    transition: transform 0.5s ease 0s;
    flex-basis: 450px;
    visibility: visible;
    height: auto;
}